fastapi==0.103.1
uvicorn==0.23.2
pandas==2.1.0
beautifulsoup4==4.12.2
simple-salesforce==1.12.5
undetected-chromedriver==3.5.3
selenium==4.11.2
pydantic==2.3.0
python-multipart==0.0.6
gunicorn==21.2.0
webdriver-manager
